<div class="all-products-page">
  <h1 class="product_title">Products</h1>
  <div class="list-product-link">
    <%= link_to 'List a Product', new_product_path, class: 'btn btn-success' %>
  </div>
  <div class="product-grid">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: 'product-link' do %>
        <div class="product-item">
          <img src="<%= product.image.present? ? url_for(product.image) : asset_path('product-placeholder.png') %>" alt="<%= product.name %>" class="product-image">
          <h3><%= product.name %></h3>
          <p>$<%= product.price %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
