<div style="display: flex; flex-direction: row;">
  <aside class="aside-bar">
    <h3 class="aside-title">Categories</h3>
    <nav>
      <ul class="aside-list">
        <li class="aside-item processors"><a href="#processors">Processors</a></li>
        <li class="aside-item motherboards"><a href="#motherboards">Motherboards</a></li>
        <li class="aside-item graphics-cards"><a href="#graphics-cards">Graphics Cards</a></li>
        <li class="aside-item computer-memory"><a href="#computer-memory-ram">Computer Memory / RAM</a></li>
        <li class="aside-item hard-drives"><a href="#hard-drives-ssds">Hard Drives & SSDs</a></li>
        <li class="aside-item computer-cases"><a href="#computer-cases">Computer Cases</a></li>
        <li class="aside-item power-supplies"><a href="#power-supplies">Power Supplies</a></li>
        <li class="aside-item computer-fans"><a href="#computer-fans-cooling">Computer Fans & Cooling</a></li>
        <li class="aside-item other"><a href="#other">Other</a></li>
      </ul>
    </nav>
  </aside>
  <div class="all-products-page">
    <div class="header-section">
      <h1 class="product_title">Products</h1>
      <div class="list-product-link">
        <%= link_to 'List a Product', new_product_path, class: 'btn btn-success' %>
      </div>
    </div>
    <% grouped_products = @products.group_by(&:category) %>
    <% grouped_products.each do |category, products| %>
      <hr class="category-divider">
      <h2 class="product-header-section" id="<%= category.parameterize %>">
        <%= category %>
      </h2>
      <div class="product-grid">
        <% products.each do |product| %>
          <%= link_to product_path(product), class: 'product-link' do %>
            <div class="product-item">
              <img src="<%= product.image.present? ? url_for(product.image) : asset_path('product-placeholder.png') %>" alt="<%= product.name %>" class="product-image">
              <h3><%= product.name %></h3>
              <p><%= number_to_currency(product.price, precision: 2, delimiter: ',', separator: '.', format: '%u%n') %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
