<div class="product-details-page cart-container">
  <div class="product-details">
    <!-- Product Image and Title Section -->
    <div class="product-image">
      <h1 class="product-title"><%= @product.name %></h1>
      <img src="<%= @product.image.present? ? url_for(@product.image) : asset_path('product-placeholder.png') %>" 
           alt="<%= @product.name %>">
    </div>

    <div style="display: flex; flex-direction: column;">
      <!-- Display Product Category -->
      <div class="product-category">
        <h2>Category</h2>
        <p><%= @product.category.present? ? @product.category : "Uncategorized" %></p>
      </div>

      <!-- Product Features Section -->
      <div class="product-features">
        <h2>Key Features</h2>
        <ul>
          <% if @product.features.present? %>
            <% @product.features.each do |feature| %>
              <li><%= feature %></li>
            <% end %>
          <% else %>
            <li>No features available</li>
          <% end %>
        </ul>
      </div>
    </div>

    

    <!-- Product Price and Buttons Section -->
    <div class="product-info">
      <div class="price-and-favorite">
        <h3 class="product-price"><%= number_to_currency(@product.price, precision: 2, delimiter: ',', separator: '.', format: '%u%n') %></h3>
        <!-- Favorite/Unfavorite Buttons -->
        <% if current_user.favorites.exists?(product: @product) %>
          <%= button_to product_favorite_path(@product), method: :delete, class: 'favorite-button' do %>
            <span class="heart-icon">&#10084;</span>
          <% end %>
        <% else %>
          <%= button_to product_favorite_path(@product), class: 'favorite-button' do %>
            <span class="heart-icon">&#9825;</span>
          <% end %>
        <% end %>
      </div>
      <div class="product-buttons">
        <%= render partial: "cart_items/form", locals: {cart_item: @cart_item} %>
        <%= button_to 'Buy Now', '#', class: 'btn btn-primary' %>

        <!-- Delete Product Button -->
        <% if current_user && (current_user.id == @product.user_id || current_user.admin?) %>
          <div><%= button_to "Delete product", @product, method: :delete, class: 'btn btn-primary', style:"background-color: #ff1919;" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>