<!DOCTYPE html>
<html>
<head>
  <title>My eCommerce Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <%= render 'layouts/nav' %> <!-- Include your navigation here -->
  </header>
  
  <main>
    <%= yield %> <!-- This is where your view content will be injected -->
  </main>
  
  <footer>
    <p>© 2024 My eCommerce Site</p>
  </footer>
</body>
</html>
